

input[type="checkbox"],
input[type="submit"] {
    cursor: pointer;
    
}

input[type="checkbox"] {
    
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
}

/* --- Stretching -------------------------------*/

.stretch-minutes,
.basic-reps {
    visibility: hidden;
}