/* Structure */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1a659e;
    font-family: Arial, Helvetica, sans-serif;
    color: #90caf9;
}

.container {
    width: 80%;
  margin: 0 auto;
  padding: 0;
}

/* Links */

a {
    color: #f7c59f;
}

/* Header */

header {
width: 100%;
position: fixed;
top: 0;
z-index: 10;
background-color: #ff6b35;
height: 55px;
}

.greeting {
    padding-top: 60px;
    background-color: #004e89;
    height: 500px;
    text-align: center;
}

.greeting h1 {
    position: relative;
    top: 95px;
    color: #f7c59f;
    font-size: 100px;
    margin: 0 auto;
    width: 70%;
    height: 30%;
}

.greeting h2 {
    position: relative;
    top: 100px;
    color: #f7c59f;
    background: #ff6b35;
    border-radius: 5px;
    margin: 0 auto;
    width: 400px;
    height: 30px;
    padding: 10px;
}

.name {
    color: #f7c59f;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0;
    position: relative;
    top: 10px; 
}

.main-nav {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
    list-style-type: none;
}
.main-nav li {
    color: #f7c59f;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 100%;
    padding: 5px;
    margin: 0 5px;
}

.main-nav li a {
    text-decoration: none;
}


/* Main */

.about {
    background-color: #004e89;
    height: 500px;
    padding: 40px;
}

.quote {
    float: left;
    width: 28%;
    border: solid #1a659e 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.quote h6 {
    padding: 5px;
    margin: 0;
    float: right;
    font-size: 1em;
}

.workout-activ {
    height: 650px;
}

article {
    float: left;
    width: 40%;
    padding-right: 10%;
}

/*Points*/
fieldset {
    border: solid 3px;
    border-radius: 0.3em;
    border-color: azure;
}

.form {
    padding: 5px 10px;
}

/* Footer */

footer {
    background-color: #004e89;
    height: 40px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer h6 {
    margin: 0;
    padding: 0;
}

/* Screen Size Adjustments
On screens that are larger than 769px will have content on 70% of the screen.
*/

@media(min-width: 1319px) {

    .container {
        width: 70%;
        margin: 0 auto;

    }

}

/* responsive design for medium screens */
@media(max-width: 1243px) {

    body {
        font-size: 1.5em;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .greeting {
        padding-top: 150px;
    }
    .greeting h1 {
        width: 90%;
        height: auto;
    }
    .greeting h2 {
        width: 70%;
        height: auto;
    }

    .about {
        padding-top: 115px;
    }

    header {
        height: 110px;
    }
    .main-nav {
        float: left;
        position: relative;
        top: 15px; 
    }

    .workout-activ {
        height: 1350px;
    }
    article {
        width: 70%;
    }
}

/* Responsive design for small screens */
@media(max-width: 980px) {
    body {
        font-size: 2em;
    }

    header {
        height: 150px;
        position: absolute;
        top: 0;
    }

    .container {
        width: 90%;
    }

    .greeting {
        padding-top: 150px;
    }
    .greeting h1 {
        width: 90%;
        height: auto;
    }
    .greeting h2 {
        width: 70%;
        height: auto;
    }

    .about {
        height: 1800px;
    }
    .quote {
        width: 90%;
    }

    .workout-activ {
        height: 1700px;
    }
    article {
        float: none;
    }

    
}

@media(max-width: 975px) {

    body {
        font-size: 2em;
    }

    header {
        height: 260px;
        position: absolute;
        top: 0;
    }


    .container {
        width: 90%;
    }

    .greeting {
        padding-top: 250px;
    }
    .greeting h1 {
        width: 90%;
        height: auto;
    }
    .greeting h2 {
        width: 70%;
        height: auto;
    }

    .about {
        height: 2300px;
    }
    .quote {
        width: 90%;
    }

    .workout-activ {
        height: 2300px;
    }
    article {
        float: none;
    }

}