/* Structure */ 

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #1a659e;
    font-family: Arial, Helvetica, sans-serif;
    color: #90caf9;
    font-size: 16px;
}

.container {
    width: 70%;
  margin: 0 auto;
  padding: 0px;
}

/* ------------------- Links -------------------------*/

a {
    color: #f7c59f;
    text-decoration: none;
}

/* --------------------Header------------------------ */

header {
width: 100%;
position: fixed;
top: 0;
z-index: 10;
background-color: #ff6b35;
height: auto;
padding-bottom: 20px;
}

.name {
    color: #f7c59f;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0;
    position: relative;
    top: 10px; 
}

.main-nav {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
    list-style-type: none;
}

.main-nav ul {
    display: inline;
}

.main-nav li {
    color: #f7c59f;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 100%;
    padding: 5px;
    margin: 0 5px;
}

/* ---------------------Greeting---------------------- */

.greeting {
    padding-top: 60px;
    background-color: #004e89;
    background-image: url("../img/mwyman.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: auto;
    width: 100%;
    margin: 50px 0 0 0;
    padding-top: 150px;
    padding-bottom: 400px;
}

.greeting h1 {
    color: #ff6b35;
    font-size: 100px;
    text-align: center;
    margin: 40px auto;
    width: 70%;
    height: 30%;
}

.greeting h2 {
    color: #f7c59f;
    text-align: center;
    background: #ff6b35;
    border-radius: 5px;
    margin: 0 auto;
    width: 400px;
    height: 30px;
    padding: 10px;
}

/* ------------------------Main----------------------- */

.about {
    background-color: #004e89;
    height: auto;
    padding: 40px;
}


.quote {
    float: left;
    width: 28%;
    border: solid #1a659e 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.quote h6 {
    padding: 5px;
    margin: 0;
    float: right;
    font-size: 1rem;
}

.workout-activ {
    height: auto;
    border: solid 2px;
    border-radius: 0.3em;
    border-color: #90caf9;
    padding: 20px;

}

.workout-nav ul {
    text-align: center;
    clear: both;
}

.workout-nav li {
    display: inline;
    padding: 5px;
    margin: 0 5px;
    list-style-type: none;
}

.workout-points {
    margin-top: 50px;
}

article {
    float: left;
    width: 45%;
    padding-right: 5%;
}


.workout-activ h5 {
    font-size: 1em;
}

/* ---------------------Points-------------------*/
fieldset {
    border: solid 2px;
    border-radius: 0.3em;
    border-color: #90caf9;
}

.form {
    padding: 5px 10px;
}

/* ---------------------Footer--------------------- */

footer {
    background-color: #004e89;
    height: auto;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px 0px;
    text-align: center;
}

.footer h6 {
    margin: 0;
    padding: 0;
    
}

/* ----------------- Responsiveness ----------------------*/

/* -----------responsive design for medium screens--------- */
@media(max-width: 1243px) {

    body {
        font-size: 18px;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .greeting {
        height: auto;
        margin-top: 120px;
    }

    .greeting h1 {
        width: 90%;
        height: auto;
    }
    .greeting h2 {
        width: 70%;
        height: auto;
    }

    .about {
        padding-top: 40px;
    }

    .about h2 {
        margin-top: 0;
    }

    .all-quotes {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .quote {
        width: 45%;
        margin: 12px;
    }

    header {
        height: 110px;
    }
    .main-nav {
        float: left;
        position: relative;
        top: 15px; 
    }

    .workout-activ {
        height: 1350px;
    }
    article {
        width: 70%;
    }
}

/* -----------------Small Screens------------------ */
@media(max-width: 980px) {

    body {
        font-size: 16px;
    }

    header {
        height: auto;
        position: absolute;
        top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .name {
        font-size: 1.75em;
        padding-bottom: 30px; 
    }

    .main-nav li {
        float: left;
    }

    .container {
        width: 90%;
    }

    .greeting {
        height: auto;
        margin-top: 100px;
    }
    .greeting h1 {
        width: 90%;
        font-size: 60px;
        height: auto;
        margin-bottom: 20px;
        margin-top: 130px;
    }
    .greeting h2 {
        width: 70%;
        height: auto;
        border-radius: 10px;
    }

    .about {
        height: auto;
        padding: 40px 0 0 0;

        margin: 0;
    }
    .about h2 {
        margin-top: 0;
    }

    .quote {
        width: auto ;
        margin: 10px auto;
    }

    .workout-activ {
        height: auto;
    }
    article {
        float: none;
    }

}